apache-airflow-providers-amazon==9.2.0
apache-airflow-providers-apache-spark==5.0.0
# apache-airflow-providers-cncf-kubernetes
pyspark==3.5.4
pyarrow==17.0.0
pandas==2.1.4
requests==2.32.3
clickhouse-connect==0.7.19
boto3==1.35.0
duckdb==1.2.2